.title_one {
  margin-top: 30px;
  font-size: 200%;
}

div#lee_home_tpl p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Playwrite GB S";

  font-size: 150%;
  color: firebrick;
}

@keyframes seesaw {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    trasnform: rotate(0deg);
  }
}

.link_me a {
  animation-name: seesaw;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  font-size: large;
  padding-right: 30px;
  text-emphasis: none;
}

.link_me li {
  display: inline-block;
  margin: 10px 0 10px;
  height: 30px;
  width: 100px;
  vertical-align: middle;
}

.link_me li a:hover {
  text-align: center;
  font-size: x-large;
  color: green;
  text-decoration: none;
}
