.title_one {
  margin-top: 30px;
  font-size: 200%;
}

div#lee_home_tpl p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Playwrite GB S";
  text-align: center;
  font-size: 150%;
  color: firebrick;
}

.link_me {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.link_me li {
  display: inline-block;
  margin: 0 10px;
}

.link_me li a {
  font-size: 100%;
  color: initial;
  text-decoration: none;
}
